language: node_js
node_js:
  - "8"
install:
  - npm install -g bespoken-tools
  - npm install codecov -g
  - cd single-stream/lambda && npm install
  - node_modules/.bin/tsc && cd ../..
  - cd multiple-streams/lambda && npm install && cd ../..
script:
 - cd single-stream && bst test && cd ..
 - cd multiple-streams && bst test && cd ..
 - codecov
